// Place all the styles related to the HtmlLinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 200px auto;
  position: relative;
}

.link-item {
  margin: 15px 0 0 30px;
}

.page {
  .link-header {

    line-height: 28px;
    a {
      margin-right: 10px;
    }
    a.add-html-link {
      color: white;
      &:link {
        color: white;
      }
      &:visited {
        color: white;
      }
    }
  }

  .link-item {
    .edit-html-link, .indent-left-html-link, .indent-right-html-link {
      margin-right: 1px;
    }

    .spacer {
      opacity: 1; 
      font-weight: bold; 
      font-size: 1.3em;
      margin-bottom: 15px;
    }

    a.edit-item {
      color: #333;
      &:link {
        color: #333;
      }
      &:visited {
        color: #333;
      }
      &:hover {
        color: #4F93F2;
        // font-weight: bold;
        background-color: transparent;
      }
      &:active {
        // color: white;
      }
    }
    a.edit-html-link, a.delete-html-link, a.indent-left-html-link, a.indent-right-html-link {
      color: white;
      &:link {
        color: white;
      }
      &:visited {
        color: white;
      }
      padding: 0 2px;
    }



    
  }
}



