// Place all the styles related to the HtmlLinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 200px auto;
  position: relative;
}


.page {
  .link-header {

    line-height: 28px;
    a {
      margin-right: 10px;
    }
    a.add-html-link {
      color: white;
      &:link {
        color: white;
      }
      &:visited {
        color: white;
      }
    }
  }

  .no-data {
    margin: 3px 0 0 30px;
  }

  .link-item {
    margin: 3px 0 0 30px;
    &.heading-and-spacer {
      margin-top: 45px;
      line-height: 20px;

      a {
        margin-top: 3px;
      }
    }

    &.heading {
      margin-top: 10px;
      // line-height: 20px;
      a {
        margin-top: 10px;
      }
    }

    .edit-html-link, .indent-left-html-link, .indent-right-html-link {
      margin-right: 1px;
    }

    .indent-left-html-link {
      margin-left: 5px;
    }

    .heading {
      opacity: 1; 
      font-weight: bold; 
      font-size: 1.5em;
      margin-bottom: 3px;
    }

    .spacer {
      opacity: 0; 
      font-weight: bold; 
      margin-bottom: 10px;
    }


    a.edit-item {
      color: #333;
      &:link {
        color: #333;
      }
      &:visited {
        color: #333;
      }
      &:hover {
        color: #4F93F2;
        // font-weight: bold;
        background-color: transparent;
      }
      &:active {
        // color: white;
      }
    }
    a.edit-html-link, a.delete-html-link, a.indent-left-html-link, a.indent-right-html-link {
      color: white;
      font-size: 10px;
      &:link {
        color: white;
      }
      &:visited {
        color: white;
      }
      padding: 0 2px;
    }
    
  }
}

.mfp-content {
  form {
    .checkbox {
      float: left;
    }
    .radio + .radio, .checkbox + .checkbox {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}



