

#top-header {
  height: 100px;
  background-color: #F1F2F2;
  &.navbar {

    .header-content {
      padding: 23px 0 0 18px;
      height: 100%;

      .login-block {
        padding-top: 40px;
        a {
          color: #333;
        }
        a:hover {
          color: #4F93F2;
          background-color: transparent;
        }
      }
    }

    a {
      color: white;
      &:link {
        color: white;
      }
    }
  }
}

.banner {
  // padding-top: 100px;
  // background-image: url('/assets/background.jpg');
  // background-position: center top;
  // background-repeat: no-repeat;

  margin-top: 100px;
  // background: url("/assets/background.jpg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  // background-size: cover;

  // height: 300px;

}

.page {
  // padding-top: 100px;
}